{% macro profile_bar() %}
<div>
    <!-- Sidebar -->
    <nav id="slide-out" class="side-nav"">
        <ul class="list-unstyled components">
            <li>
              <a href="{{ url_for('user.mycards') }}">My Cards</a>
            </li>
            <li>
              <a href="{{ url_for('user.mysales') }}">My Sales</a>
            </li>
            <li>
              <a href="{{ url_for('user.mycards') }}">My Trades</a>
            </li>
            <li>
              <a href="{{ url_for('user.mycards') }}">Purchase History</a>
            </li>
        </ul>
    </nav>

</div>
{% endmacro %}
