{% macro profile_bar(page) %}
    <div><ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            {% if page == 0 %}
            <a class="nav-link active" href={{ url_for('user.mycards') }}>
            {% else %}
            <a class="nav-link" href={{ url_for('user.mycards') }}>
            {% endif %}
                My Cards
            </a>
        </li>
        <li class="nav-item">
            {% if page == 1 %}
            <a class="nav-link active" href={{ url_for('user.mysales') }}>
            {% else %}
            <a class="nav-link" href={{ url_for('user.mysales') }}>
            {% endif %}
                My Sales
            </a>
        </li>
        <li class="nav-item">
            {% if page == 2 %}
            <a class="nav-link active" href={{ url_for('user.mytrades') }}>
            {% else %}
            <a class="nav-link" href={{ url_for('user.mytrades') }}>
            {% endif %}
                My Trades
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Transactions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('user.purchaseHist') }}">Purchase History</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('user.saleHist') }}">Sale History</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('user.purchaseHist') }}">Trade History</a>
            </div>
        </li>
        <!-- <li class="nav-item">
            {% if page == 3 %}
            <a class="nav-link active" href={{ url_for('user.purchaseHist') }}>
            {% else %}
            <a class="nav-link" href={{ url_for('user.purchaseHist') }}>
            {% endif %}
                Purchase History
            </a>
        </li> -->
    </ul></div>
    <br>
{% endmacro %}
