{% macro profile_bar(page) %}
    <div><ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            {% if page == 0 %}
            <a class="nav-link active" href={{ url_for('user.mycards') }}>
            {% else %}
            <a class="nav-link" href={{ url_for('user.mycards') }}>
            {% endif %}
                My Cards
            </a>
        </li>
        <li class="nav-item">
            {% if page == 1 %}
            <a class="nav-link active" href={{ url_for('user.mysales') }}>
            {% else %}
            <a class="nav-link" href={{ url_for('user.mysales') }}>
            {% endif %}
                My Sales
            </a>
        </li>
        <li class="nav-item">
            {% if page == 2 %}
            <a class="nav-link active" href={{ url_for('user.mytrades') }}>
            {% else %}
            <a class="nav-link" href={{ url_for('user.mytrades') }}>
            {% endif %}
                My Trades
            </a>
        </li>
        <li class="nav-item">
            {% if page == 3 %}
            <a class="nav-link active" href={{ url_for('user.purchases') }}>
            {% else %}
            <a class="nav-link" href={{ url_for('user.purchases') }}>
            {% endif %}
                Purchase History
            </a>
        </li>
    </ul></div>
    <br>
{% endmacro %}