{% from 'macros/render_card.html' import render_card %}

{% macro profile_cards(title, list) %}
  <h2>{{ title }}</h2>
  <hr>
  {% for group in list[:-1] %}
  <div class="card-deck">
    {% for card in group %}
      {{ render_card(card, displayinfo=False) }}
    {% endfor %}
  </div><hr>
  {% endfor %}

  <div class="card-deck">
    {% for card in list[-1] %}
        {% if card %}
          <div class="card">
        {% else %}
          <div class="card" style="border: transparent">
        {% endif %}
          {% if card %}
          <img class="card-img-top" src={{card.image_hires}} alt={{card.name}}>
          <div class="card-body">
              <h5 class="card-title">
                <a href="{{ url_for('user.view_card',id = card.id) }}">{{card.name}}</a>
              </h5>
          </div>
          {% endif %}
        </div>
    {% endfor %}
  </div>
{%- endmacro %}
