{% from "macros/render_flashes.html" import render_flashes %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<!-- navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://pokestop.io/img/pokemon/silcoon-256x256.png" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="#">The Silcoon Road</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- left side of navbar -->
        <ul class="navbar-nav mr-auto">

            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.mycards') }}">My Cards</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Marketplace
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('user.marketplace') }}">Buy/Sell</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('user.trade') }}">Trade</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Current Balance: ${{ current_user.balance }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Welcome</a>
                </li>
            {% endif %}
        </ul>

        <!-- right side of navbar -->
        <ul class="navbar-nav navbar-right">

            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link disabled"> Logged in as {{ current_user.username }} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                </li>
            {% endif %}
	    <li class="nav-item">
	      <a class="nav-link disabled"> Your location: {{ ip_location }} </a> </li>
        </ul>
    </div>
</nav>

<div class="container">
    {{ render_flashes() }}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for block in request.path.split('/') %}
                <li class="breadcrumb-item active" aria-current="page">{{ block }}</li>
            {% endfor %}
        </ol>
    </nav>

    {% block content %}

    {% endblock content %}

</div>

</body>
</html>
