{% extends "_base.html" %}

{%  from 'macros/carousel.html' import sales_carousel %}

{% block style %}
    .carousel-control-next {
        filter: invert(100%);
        margin-right: -15%;
    }
    .carousel-control-prev {
        filter: invert(100%);
        margin-left: -15%;
    }
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }g
{% endblock %}

{% block content %}
    <div class="title">
        <h1>Card Sales</h1>
        <div><a class="btn btn-outline-primary" href="#" role="button">Sell a Card</a></div>
    </div>
    <hr>
    <h3>Featured</h3>
        {{ sales_carousel(featured,'featured-carousel') }}
    <hr>
    <h3>New</h3>
        {{ sales_carousel(new,'new-carousel') }}
    <hr>
    <h3>Packs</h3>
        <div class="card-deck">
            {% for set in popular %}
            <div class="card">
                <img class="card-img-top" src={{ set.logo }} alt={{ set.name }}>
                <div class="card-body">
                    <h5 class="card-title">{{ set.name }}</h5>
                    <p class="card-text">$100.00</p>
                </div>
                <div class="card-footer bg-transparent">
                    <a href="#" class="btn btn-primary btn-block">Buy</a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock content %}
