{% extends "_base.html" %}

{%  from 'macros/carousel.html' import sales_carousel %}

{% block style %}
    .carousel-control-next {
        filter: invert(100%);
        margin-right: -15%;
    }
    .carousel-control-prev {
        filter: invert(100%);
        margin-left: -15%;
    }
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }g
{% endblock %}

{% block content %}
    <div class="title">
        <h1>Card Sales</h1>
        <div><a class="btn btn-outline-primary" href={{ url_for('user.sell') }} role="button">Sell a Card</a></div>
    </div>
    <hr>
    <h3>Featured</h3>
        {{ sales_carousel(featured,'featured-carousel') }}
    <hr>
    <h3>New</h3>
        {{ sales_carousel(new,'new-carousel') }}
    <hr>
    <h3>Popular</h3>
        {{ sales_carousel(popular,'popular-carousel') }}
{% endblock content %}
