{% extends "_base.html" %}

{% block style %}

<style>
    #index-card {
        width: 40%;
        left: 30%;
    }
</style>

{% endblock style %}

{% block content %}

<div class="card" id="index-card">
    <div class="card-body">
        <img src="https://cdn.bulbagarden.net/upload/thumb/7/72/May_Silcoon.png/220px-May_Silcoon.png" class="card-img-top">
        <h5 class="card-title text-center">
            Welcome to the Silcoon Road!
        </h5>

        <p class="card-text">The purpose of this website is to (this is the part where we describe the purpose of the site. I don't know what to type here so someone has to do it for me. <p>
                <div class="text-center">
                    <button type="button" class="btn btn-light">
                        <a href="{{ url_for('auth.login') }}" style="text-decoration: none;">Log In</a>
                    </button>
                    <button type="button" class="btn btn-light">
                        <a href="{{ url_for('auth.signup') }}" style="text-decoration: none;">Sign Up</a>
                    </button>
                </div>


    </div>
</div>

{% endblock content %}