{% extends "_base.html" %}

{% block content %}
    <h1>The Marketplace</h1>
    <hr>
    <h3>Featured</h3>
    <div class="card-deck">
    {% for card in featured %}
        <div class="card">
            <img class="card-img-top" src={{card.image_hires}} alt={{card.name}}>
            <div class="card-body">
                <h5 class="card-title">{{card.name}}</h5>
                <p class="card-text">$100.00{# {{card.price}} #}</p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    {% endfor %}
    </div>
    <hr>
    <h3>New</h3>
    <div class="card-deck">
    {% for card in new %}
        <div class="card">
            <img class="card-img-top" src={{card.image}} alt={{card.name}}>
            <div class="card-body">
                <h5 class="card-title">{{card.name}}</h5>
                <p class="card-text">{{card.price}}</p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    {% endfor %}
    </div>
    <hr>
    <h3>Popular</h3>
    <div class="card-deck">
    {% for card in popular %}
        <div class="card">
            <img class="card-img-top" src={{card.image}} alt={{card.name}}>
            <div class="card-body">
                <h5 class="card-title">{{card.name}}</h5>
                <p class="card-text">{{card.price}}</p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    {% endfor %}
    </div>
    <hr>
    <h3>High Value</h3>
    <div class="card-deck">
    {% for card in value %}
        <div class="card">
            <img class="card-img-top" src={{card.image}} alt={{card.name}}>
            <div class="card-body">
                <h5 class="card-title">{{card.name}}</h5>
                <p class="card-text">{{card.price}}</p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
