{% extends "_base.html" %}

{% from "macros/profile_bar.html" import profile_bar %}
{% from 'macros/render_card.html' import render_card %}

{% block content %}
    <h2>{{title}}</h2>
    <hr>
    {{ profile_bar(page)}}
    {% for duo in list %}
    <div class="card-deck">
      <div style="display: flex; justify-content: space-evenly; align-items: center; max-width: 50%">
            {% set given = get_card_id(duo[0].given_card_id) %}
            {% set request = get_card_id(duo[0].request_card_id) %}
            {{ render_card(given,displayinfo=False) }}
            <div style="max-height: 30px"><i class="material-icons">swap_horizontal_circle</i></div>
            {{ render_card(request,displayinfo=False) }}
        </div>
        <div style="display: flex; justify-content: space-evenly; align-items: center; max-width: 50%">
            {% if duo[1] %}
              {% set given = get_card_id(duo[1].given_card_id) %}
              {% set request = get_card_id(duo[1].request_card_id) %}
              {{ render_card(given,displayinfo=False) }}
              <div style="max-height: 30px"><i class="material-icons">swap_horizontal_circle</i></div>
              {{ render_card(request,displayinfo=False) }}
            {% endif %}
        </div>
    </div>
    <br>
    <br>
    {% endfor %}
    <br>
{% endblock content %}
