{% extends "_base.html" %}

{% block style %}
    .carousel-control-next {
        filter: invert(100%);
        margin-right: -15%;
    }
    .carousel-control-prev {
        filter: invert(100%);
        margin-left: -15%;
    }
{% endblock %}

{% macro sales_carousel(list,name) -%}
    <br><div>
    <div id={{ name }} class="carousel slide" data-interval="false">
        <div class="carousel-inner">
                <div class='carousel-item active'>
                    <div class="card-deck">
                        {% for card in list[0] %}
                        <div class="card">
                            <img class="card-img-top" src={{ card.image_hires }} alt={{ card.name }}>
                            <div class="card-body">
                                <h5 class="card-title">{{ card.name }}</h5>
                                <p class="card-text">$100.00</p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <a href="#" class="btn btn-primary btn-block">Buy</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% for slide in list[1:] %}
                <div class='carousel-item'>
                    <div class="card-deck">
                        {% for card in slide %}
                        <div class="card">
                            <img class="card-img-top" src={{ card.image_hires }} alt={{ card.name }}>
                            <div class="card-body">
                                <h5 class="card-title">{{ card.name }}</h5>
                                <p class="card-text">$100.00</p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <a href="#" class="btn btn-primary btn-block">Buy</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href={{ '#'+name }} role="button" data-slide="prev" style=": black">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href={{ '#'+name }} role="button" data-slide="next" style="color: black">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><br>
{%- endmacro %}

{% block content %}
    <h1>Packs</h1>
    <hr>
    <h3>Featured</h3>
        {{ sales_carousel(featured,'featured-carousel') }}
    <hr>
    <h3>New</h3>
        {{ sales_carousel(new,'new-carousel') }}
    <hr>
    <h3>Popular</h3>
        {{ sales_carousel(popular,'popular-carousel') }}
{% endblock content %}
