{% extends "_base.html" %}

{% from 'macros/cards_carousel.html' import trade_carousel %}

{% block style %}
    <style>
        .carousel-control-next {
            filter: invert(100%);
            margin-right: -15%;
        }

        .carousel-control-prev {
            filter: invert(100%);
            margin-left: -15%;
        }

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="title">
        <h1>Trades</h1>
        <div><a class="btn btn-outline-primary" href={{ url_for('user.trade') }} role="button">Start a Trade</a></div>
    </div>
    <hr>
    <h3>New</h3>
    {{ trade_carousel(new_first,'new_first') }}
    {{ trade_carousel(new_second,'new_second') }}
{% endblock content %}
