{% extends "_base.html" %}

{%  from 'macros/carousel.html' import sales_carousel %}

{% block style %}
    .carousel-control-next {
        filter: invert(100%);
        margin-right: -15%;
    }
    .carousel-control-prev {
        filter: invert(100%);
        margin-left: -15%;
    }
{% endblock %}

{% block content %}
    <h1>Packs</h1>
    <hr>
    <h3>New</h3>
        {{ sales_carousel(new,'new-carousel') }}
    <hr>
    <h3>Popular</h3>
        {{ sales_carousel(popular,'popular-carousel') }}
{% endblock content %}
