{% extends '_base.html' %}

{% block style %}
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    }
    .bootstrap-select:hover .filter-option {
        color: #fff !important;
    }
    .show .filter-option{
        color: #fff !important;
    }
    .bootstrap-select .dropdown-toggle[title="Select a Card"] .filter-option{
        color: #999999;
    }
  </style>
{% endblock %}

{% block content %}
    <h1>Create a Trade</h1>
    <hr>
    <form method="post" action={{ url_for('user.trade') }}>
        <div class="form-group">
            <label for="first_card">Your Card</label><br>
            <select id="first_card" name="first_card" class="selectpicker" data-live-search="true" data-style="btn-outline-primary" title="Select a Card" required>
                {% for card in current_user.cards %}
                    <option title={{ card.name }} data-tokens={{ card.name }} data-content="<img src={{ card.image_small }} style='height:50%'>">
                        {{ card.id }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="second_card">Requested Card</label><br>
            <select id="second_card" name="second_card" class="selectpicker" data-live-search="true" data-style="btn-outline-primary" title="Select a Card" required>
                {% for card in query %}
                    <option title={{ card.name }} data-tokens={{ card.name }} data-content='<a href="#" style="text-decoration:none" data-toggle="tooltip" data-placement="right" title={{ card.set_name }}>{{ card.name }}</a>'>
                        {{ card.id }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Trade</button>
    </form>
{% endblock %}
