{% extends "_base.html" %}
{% from "macros/render_card.html" import render_card %}

{% block content %}

{% if card is not none %}

<div class="row">
    <div class="col-2"><br></div>
    <div class="col">
        {{ render_card(card, displayinfo=False, displaylink = False) }}
    </div>
    <div class="col">
        <h3> {{ card.name }} </h3>
        <span class="font-italic"> {{ card.series }} </span>
        <small>
            <span class="font-italic"> ({{ card.set_name }}) </span>
        </small>
        <hr>
        <div>
            <b>Subtype</b>: <p>{{ card.subtype }}</p>
        </div>
        <div>
            <b>Supertype</b>: <p>{{ card.supertype }}</p>
        </div>
        <div>
            <b>Rarity</b>: <p>{{ card.rarity }}</p>
        </div>
    </div>
    <div class="col-2"><br></div>

</div>
{% else %}

<br><br><br>
<p class="text-center">No card found, sorry</p>

{% endif %}

{% endblock content %}
